---
layout: default
---

<div class="home-page">
  <img class="photo" src="https://avatars0.githubusercontent.com/u/16776409?v=3&u=229e157816bb7facefa101872d86981092ac680e&s=400&amp;s=460" height="150" >
  <h1>{{ site.title }}</h1>
 Full Stack Python and Django Developer

  <p class="work">
       
    <a target="_blank" href="{{ site.link_to.github }}">
      <span>{% include icons/github.svg %}</span>Github
    </a> |

  </p>  
  <p class="social">
    <a href="mailto: {{site.email}}">
      <span>{% include icons/mail.svg %}</span>
    </a>
    <a href="{{ site.link_to.twitter }}">
      <span>{% include icons/twitter.svg %}</span>
    </a>
    <a href="{{ site.link_to.facebook }}">
      <span>{% include icons/facebook.svg %}</span>
    </a>
    <a href="{{ site.link_to.linkedin }}">
      <span>{% include icons/linkedin.svg %}</span>
    </a>
  </p>
</div>
